* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --basic-text: #b9b9b9;
  --border-line: #52503d;
  --background: #0f0f0f;
  --status-ok: #00ff00;
  --status-ng: #f44336;
  --header-text: #5f636d;
  --main-background: #1a1919;
  --size: 50;
  --stagger: 0.1125;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: var(--background);
}

/* For loading */

/* For displaying client data */
#client-dashboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 2.5rem 1.5rem;
  gap: 1.5rem;
  border: 1px solid var(--border-line);
  border-radius: 10px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: var(--main-background);
}

#client-dashboard > div:not(:last-child) {
  border-bottom: 1px solid var(--border-line);
  padding-bottom: 1.5rem;
}

.header {
  display: flex;
  color: var(--header-text);
}

div {
  display: flex;
  gap: 2.5rem;
}

div > p {
  flex: 1;
  text-align: center;
  font-size: 1.5rem;
}

.client_id {
  color: var(--basic-text);
}

.timestamp {
  color: var(--basic-text);
}

.ok {
  color: var(--status-ok);
}

.ng {
  color: var(--status-ng)
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }
}

@keyframes rotateLetter {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: rotateX(180deg) rotateY(180deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}